<div class="container">
  <div class="page-header"> NG - Learn </div>

  <div class="panel panel-default">
    <div class="panel-heading"> App component - {{totalCount}} </div>
    <div class="panel-body">

      <app-hit-button (hit)="incCount($event)" label="1"></app-hit-button>
      <app-hit-button (hit)="incCount($event)" label="10"></app-hit-button>
      <app-hit-button (hit)="incCount($event)" label="-10"></app-hit-button>
      <hr/>
      <app-total-count-display [count]="totalCount"></app-total-count-display>

    </div>
  </div>

</div>