<div class="col-md-6 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Product Form</div>
    <div class="panel-body">
      <form (submit)="addNewProduct()" name="productForm" [formGroup]="productForm">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Price</label>
          <input class="form-control" type="number" formControlName="price">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea rows="5" cols="35" class="form-control" formControlName="description"></textarea>
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>